<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body style="background-color : #fdebd0">
    <div style="position: absolute; top: 40%; width: 100%;">
        <h1 style="text-align: center; color: #6e2c00;">Welcome to Student Performance Predictor</h1>
        <h2 style="text-align: center; color: #6e2c00;">Harness the power of Machine Learning to brighten the future.</h2>
    </div>
</body>
</html>